### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
# Create total players variable using the length of the list 
totalPlayers = len(purchase_data["SN"].value_counts())

# Create Panda Data Frame 
players = pd.DataFrame({"Total Players": [totalPlayers]})
players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Run basic calculations for each item 
numberUniqueItems = len((purchase_data["Item ID"]).unique())
averagePrice = (purchase_data["Price"]).mean()
numberPurchases = (purchase_data["Purchase ID"]).count()
totalRev = (purchase_data["Price"]).sum()

# Create Panda Data Frame with the above data and its respective variables 
purchasing_df = pd.DataFrame({"Number of unique items":[numberUniqueItems],
                              "Average Price": [averagePrice],
                              "Number of Purchases": [numberPurchases],
                              "Total Revenue": [totalRev]
                             })

# Create a cleaner format by styling 'Average Price' and 'Total Revenue'
purchasing_df.style.format({"Average Price": "${:,.2f}",
                           "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
# Group purchase_data by Gender
genderData = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
totalGender = genderData.nunique()["SN"]

# Total count by gender and divivde by total players 
percentPlayers = totalGender / totalPlayers * 100

# Create data frame with obtained values
genderDemographics_df = pd.DataFrame({"Total Count": totalGender, 
                                   "Percentage of Players": percentPlayers})

# Format the data frame with no index name in the corner
genderDemographics_df.index.name = None
genderDemographics_df.sort_values(["Percentage of Players"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
# Count total purchases by gender 
purchaseCount = genderData["Purchase ID"].count()

# Average purchase price by gender
avgPurchasePrice = genderData["Price"].mean()

# Average purchase total by gender 
avgPurchaseTotal = genderData["Price"].sum()

# Average purchase per person by gender 
avgPurchasePerson = avgPurchaseTotal / totalGender

# Create data frame with the above values 
genderDemographics_df = pd.DataFrame ({"Purchase Count": purchaseCount,
                                     "Average Purchase Price": avgPurchasePrice,
                                     "Total Purchase Value": avgPurchaseTotal,
                                     "Avg Total Purchase per Person": avgPurchasePerson
                                    })
# Remove Gender header
genderDemographics_df.index.name = None

#Format currency and decimals 
genderDemographics_df.style.format({"Average Purchase Price": "${:,.2f}",
                                   "Total Purchase Value": "${:,.2f}",
                                    "Avg Total Purchase per Person": "${:,.2f}",
                                   })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
ageBins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999999]
nameBins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], ageBins, labels=nameBins)
purchase_data

# Add age group 
ageGroup = purchase_data.groupby("Age Group")

totalCountAge = ageGroup["SN"].nunique()

# Calculate percentage by age 
percentAge = (totalCountAge / totalPlayers) * 100

# Create data frame with new values 
ageDemographics_df = pd.DataFrame({"Total Count": totalCountAge,
                                   "Percentage of Players": percentAge
                               })

# Remove that first index
ageDemographics_df.index.name = None 

# Format with 2 decimals
ageDemographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Count purchases by age group 
purchaseCountAge = ageGroup["Purchase ID"].count()

# Get Average Purchase Price for each age group
avgPurchasePriceAge = ageGroup["Price"].mean()

# Get Total Purchase Value by Age Group 
totalPurchaseValueAge = ageGroup["Price"].sum()

# Get the average purchase per person in the age group 
avgPurchasePersonAge = totalPurchaseValueAge / totalCountAge

# Create data frame (Again!!)
ageDemographics_df = pd.DataFrame({"Purchase Count": purchaseCountAge,
                                    "Average Purchase Price" : avgPurchasePriceAge,
                                    "Total Purchase Value" : totalPurchaseValueAge,
                                    "Average Purchase Total per Person" : avgPurchasePersonAge
                                  })

# Remove the header 
ageDemographics_df.index.name = None

# Format two decimals with currency 
ageDemographics_df.style.format({"Average Purchase Price": "${:,.2f}",
                                  "Total Purchase Value": "${:,.2f}",
                                  "Average Purchase Total per Person": "${:,.2f}"
                                 })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
# Group the purchase data by screen names 
spenders = purchase_data.groupby("SN")

# Count the toal purchases by name
purchaseCountSpender = spenders["Purchase ID"].count()

# Calculate the average purchases by name 
avgPurchasePriceSpender = spenders["Price"].mean()

# Calculate the purchase total 
purchaseTotalSpender = spenders["Price"].sum()

# Create the data Frame 
topSpenders = pd.DataFrame ({"Purchase Count" : purchaseCountSpender,
                             "Average Purchase Price" : avgPurchasePriceSpender,
                             "Total Purchase Value": purchaseTotalSpender
                            })

# Sort in Descending order 
formatSpenders = topSpenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatSpenders

# Formate 2 decimals w/ currency (like before)
formatSpenders.style.format({"Average Purchase Total":"${:,.2f}",
                             "Average Purchase Price":"${:,.2f}", 
                             "Total Purchase Value":"${:,.2f}"
                            })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
# Create new data frame with the items 
newItems = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data 
newItemInfo = newItems.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
countItemPurchased = newItemInfo["Price"].count()

# Calcualte the purchase value per item 
purchaseValue = (newItemInfo["Price"].sum()) 

# Find the item price
itemPrice = purchaseValue / countItemPurchased

# Create data frame with values provided above
most_popular_items = pd.DataFrame({"Purchase Count": countItemPurchased, 
                                   "Item Price": itemPrice,
                                   "Total Purchase Value":purchaseValue})

# Sort in descending order
popularFormat = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popularFormat.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"
                           })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [63]:
# Sort the above table by total purchase value in descending order
popularFormat = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
popularFormat.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"
                           })